.bg-dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1C1C1C;
}
.bg-banner-box {
    background-color: #05060C;
}
.btn-dashboard {
    background-color: #202125 !important;
    color: white !important;
}
.banner-box {
    background: url('../assets/Rectangle\ 15.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-banner-box {
    background: linear-gradient(to right, #C4499B, #46318D) !important;
    color: white !important;
}
.text-tabs {
    color: #898989 !important;
}
.bg-metatab ul > li > a {
    background-color: gray !important;
    color: white !important;
}
.nav-link.active {
    background-color: #C4499B !important;
    color: white !important; 
    border-radius: 0% !important;
}
.bg-search-input {
    background-color: #2D2D2D !important;
    border-radius: 0% !important;
}